.menu_principal{
    font-family: "Helvetica Neue", Arial, sans-serif;
}

header.header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.img_container{
    height: 50px;
    width: 50px;
    background-image: url('../images/logo/logo.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.menu_principal ul {
    display: flex;
    list-style: none;
}

.menu_principal ul li {
    margin: 0 10px;
    color: white;
}

.menu_principal ul li a {
    text-decoration: none;
    padding: 10px;
}