.game-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.game {
    width: calc(33.33% - 40px);
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.new-game{
    margin-right: 20px;
    margin-bottom: 20px;
}

.new-game:last-child {
    margin-right: 0;
}

.game h2 {
    font-size: 20px;
    color: #333;
}

.game p {
    font-size: 16px;
    color: #666;
}

.game img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}