header.header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-family: 'Arimo', sans-serif;
}

.section_div{
    background-color:#f1f1f1;
}

.img_container{
    height: 50px;
    width: 50px;
    background-image: url('../images/logo/logo.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.comment{
    font-weight: bold;
    color: white;
    font-family: Arial, sans-serif;
}


.custom-button {
    width: auto;
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: #862530;
    color: #e8e6e3;
    cursor: pointer;
    font-weight: bold;
}

.custom-button:hover {
    background-color: #7c1924;
}

.button-link {
    color: #ffffff;
}

.button-link:hover {
    color: #862530;
}
/*------------------------------------------------------------------------------*/
.column_section {
    display: flex;
    align-items: flex-start; /* Aligner les éléments en haut */
}

.left-content {
    flex: 1; /* Prend tout l'espace disponible */
    margin-right: 20px; /* Marge pour séparer les éléments */
}

.right-content {
    flex: 1; /* Prend tout l'espace disponible */
}

.custom-button {
    width: 100%;
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: #862530;
    color: #e8e6e3;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px; /* Espacement entre le titre et le bouton */
}

.custom-button:hover {
    background-color: #7c1924;
}

.button-link {
    color: #ffffff;
    text-decoration: none; /* Supprimer le soulignement du lien */
}

.button-link:hover {
    color: #862530;
}

.comment {
    font-weight: bold;
    color: white;
    font-family: Arial, sans-serif;
}

.section_div {
    background-color: #f1f1f1;
    display: flex;
}

.border_red_dashed {
    border: 1px dashed red; /* Pour le débogage */
}

.border_blueviolet_solid {
    border: 1px solid blueviolet; /* Pour le débogage */
}

/*---------------------             -------------------------------------------*/

.section_div {
    min-height: 400px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.center_verticaly{
    margin-top: auto;
    margin-bottom: auto;  
}

.top_content {
    min-height: 600px;
    background-image: url('../images/logo/page_content.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
   

}

.column_section {
    float: left;
    text-align: center;
    margin-top: 20px; 
    margin-bottom: 20px; 
    width: 100%;
}

.column_section_2 {
    width: 50%;
}

.column_section_3 {
    width: 33%;
}


.button-link:hover {
    color: #862530;
}

.comment {
    font-weight: bold;
    color: white;
    font-family: Arial, sans-serif;
}

.section_div {
    background-color: #f1f1f1;
    display: flex;
}

.border_red_dashed {
    border: 1px dashed red; /* Pour le débogage */
}

.border_blueviolet_solid {
    border: 1px solid blueviolet; /* Pour le débogage */
}

img {
    width: 100%;
    margin-top: 20px; 
}
/*---------------------------------------------------------------------------*/
.table-container {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

table td img {
    max-width: 100px;
    max-height: 100px;
}
/*------------------------------------------------------------------------------*/
.footer {
    font-weight: bold;
    text-align: center;
}