header.header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.top_content {
    min-height: 600px;
    background-image: url('../images/logo/page_content.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.left-content {
    flex: 1;
    margin-right: 50px;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.right-content {
    flex: 1;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

.left-content h2 {
    font-size: 36px;
}

.left-content .custom-button {
    font-size: 18px;
}

.right-content p {
    font-size: 33px;
}

.custom-button {
    width: auto;
    padding: 19px 38px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: #862530;
    color: #e8e6e3;
    cursor: pointer;
}

.custom-button:hover {
    background-color: #7c1924;
}

.button-link {
    color: #ffffff;
    text-decoration: none;
}

.button-link:hover {
    color: #862530;
}
/*------------------------  -------------------------------------------------*/

.comment {
    font-weight: bold;
    color: white;
    font-family: Arial, sans-serif;
}
/*------------------------------------------------------------------------------*/
.section {
    background-color: #f1f1f1;
}

.content {
    display: flex;
    align-items: flex-start;
}

.section_div {
    min-height: 400px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.column_section {
    float: left;
    text-align: center;
    margin-top: 20px; 
    margin-bottom: 20px; 
    width: 100%;
}

img {
    width: 100%;
    margin-top: 20px; 
}
/*---------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------*/
.footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

.footer div {
    margin-bottom: 20px;
}

.footer p {
    margin: 5px 0;
    font-size: 14px;
    color: #333;
}

.footer h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}