header.header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    /* max-height: 10px; */
}

.img_container{
    height: 50px;
    width: 50px;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    /* background-size: 1920px 776px; */
    background-size: cover;
}
/* header.header img {
    /* width: 20px; */
    /* height: 10%; */
    /* margin-right: 100px; */



.menu_principal ul {
    display: flex;
    list-style: none;
}

.menu_principal ul li {
    margin: 0 10px;
    color: white;
}

.menu_principal ul li a {
    text-decoration: none;
    padding: 10px;
}



.menu_connecter ul {
    display: flex;
    list-style: none;
}

.menu_connecter ul li {
    margin: 0 10px;
    color: white;
}

.menu_connecter ul li a {
    text-decoration: none;
    padding: 10px;
}

/*------------------------------------------------------------------------------*/
.section_div {
    min-height: 400px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.center_verticaly{
    margin-top: auto;
    margin-bottom: auto;  
}

.top_content {
    min-height: 600px;
    background-image: url('../images/page_content.png');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    /* background-size: 1920px 776px; */
    background-size: cover;
    color: white;
   

}

.column_section {
    float: left;
    /* padding: 10px; */
    /* flex: 1;*/
    text-align: center;
    margin-top: 20px; 
    margin-bottom: 20px; 
    width: 100%;
}

.column_section_2 {
    width: 50%;
}

.column_section_3 {
    width: 33%;
}

/* .margin_left h2 {
    margin-bottom: 10px;
}

.margin_right {
    flex: 1;
    text-align: center;
}

.margin_right p {
    margin-top: 20px;
} */

img {
    width: 100%;
    margin-top: 20px; 
}
/*---------------------------------------------------------------------------*/
.table-container {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

table td img {
    max-width: 100px;
    max-height: 100px;
}